page-product-details {

    .product-imgs{
        display: inline-block;
       height:auto; //auto
    }
    .img {max-width: 200px;
    }
        
    .product-price{
       margin: 10px;
       font-size: 25px;
    }
    

    .product-name{
        font-size:20px;
    }

    .discription{
        text-align: left;
        font-family: cursive;
    }

    ion-icon{
        font-weight: bold;
        font-size: 15px;
        }

        .large-icon
            {
            font-size: 40px;
            }
        
    ion-list {
        display: inline-flex;
    }
    
    .text-input-md
    {
        margin: 0 !important;
        font-weight: bolder !important;
        font-size: large !important;

    }

   .price-qty
   {
       font-weight: bolder;
       font-size: large;
   }
}
