// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// change this values based on req
html{    
        &.small{font-size:56.25%;} // 15pt
        &.normal{font-size:62.5%;} //20 
        &.large{font-size:68.75%;}  //25 
        &.extra_large{font-size:75%;} //35
}

[textR]{font-family: "raleway"; font-weight: bolder}
[textM]{font-family: "montserrat"}
[bg-transparent]{background:transparent}

    $font-family-base: "Montserrat" !default;
    body{
    font-family: "Montserrat" !important;
    font-weight: 400 !important;
    }

    
    
  