
<ion-header>

  <ion-navbar>
    <ion-title>Shopping Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


    <ion-list>
        <ion-item-sliding *ngFor="let item of cartItems; let i= index ">
         
          <ion-item> 
          <ion-thumbnail item-left *ngIf =" item.product.attributes == 0"  >  <!--item left to show thumbnail at left -->
               <img src="{{item.product.images[0].src}}"/>   
               <!-- <img  src="{{item.variation.images[0].src}}"/>    featured img at 0 position-->    
          </ion-thumbnail> 
          <ion-thumbnail item-left *ngIf ="item.product.attributes !=0"  >  <!--item left to show thumbnail at left -->
            <img src="{{item.product.image.src}}"/>   
            <!-- <img  src="{{item.variation.images[0].src}}"/>    featured img at 0 position-->    
       </ion-thumbnail> 
          
          <h3>{{item.product.name}} </h3>
          <br>
          <p>{{item.qty}} * {{item.product.price}} </p> <br>
          <p>{{item.amount}}</p>
       
          <div class = "button">
              <button primary large>
                <ion-icon name="add" (click)="swp_increaseQty(item,i)"></ion-icon>
              </button>
              <p>{{item.qty}}</p>
              <button primary large>
                <ion-icon name="remove" (click)="swp_decreaseQty(item,i)"></ion-icon>
              </button>
            </div>
          
        </ion-item>
        <ion-item-options>
          <button drager (click)="swp_removeFromCart(item,i)" ion-button>
             <ion-icon name="trash"></ion-icon>
             Delete
          </button>
        </ion-item-options>   
          </ion-item-sliding>
      </ion-list>
      
      <ion-grid>
        <ion-row>
          <ion-col col-3>
           <h3> Total </h3>
          </ion-col>
          
          <ion-col col-3>
      
          </ion-col >
          <ion-col col-2>
            
            </ion-col>
          <ion-col col-4 style="text-align: left;">
          <h3>{{cartTotal}} </h3>
          </ion-col>
            
        </ion-row>
        
      </ion-grid>
      
      
      <!-- <ion-card>
        <ion-card-content>
          
         <button ion-button full 
            (click)="proceedToCheckout()"
            [disabled]="0 === cart.items.length">Checkout</button>
          </ion-card-content>
      </ion-card> -->
      

</ion-content>


<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button outline block (click)="swp_Modalclose()">Back</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="swp_checkout()">Checkout</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
