page-home {

    .header-banner{
        height:auto;
        min-height:200px;
       
      }

      .slider{
        height:200px !important; //auto
        .swiper-wrapper {
          .swiper-slide{
            max-width: 100%;
            img {width:100%;}
          } 
        }
        }

    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 120px;
        overflow: hidden;
    
        .scroll-item {
          display: inline-block;
          height: 120px;
          text-align: center;
          padding: 2px;
          align-items: center ;
        }
        
        ion-avatar img{
          margin: 10px;
          height: 50px;
          width :50px;
        }

        ion-avatar span{
          text-align: center;
          font-size: 12px;
          font-weight: bold;
        }
      }
    
      ion-scroll[scroll-avatar]{
        height: 100px;
      }
    
      /* Hide ion-content scrollbar */
      ::-webkit-scrollbar{
        display:none;
      }      

      .DealsOfDay{
        .img{
          width: 100px !important;
        }

      }

}
