<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
        <button ion-button icon-only>
            <ion-icon name="cart" (click)="swp_OpenCartPage()"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title><img alt="logo" height="40"   src="assets/images/logo.png" ></ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="outer-content">

  <!-- Empty categories array -->
	<ion-row *ngIf="categories.length < 1" ion-fixed width-100 height-100 (swipe)="onSwipeContent($event)">
      <ion-col width-50 style="margin:0 auto;" text-center>
        <span>No categories to show</span>
      </ion-col>
    </ion-row>
  
  
    <!-- Has categories

<ion-grid no-padding >
  <ion-row *ngIf="0 < categories.length" wrap padding-4>
    <ion-col col-6 *ngFor="let category of categories"  [navPush]=" DetailCategoryPage" [navParams]="{category_id:category.id}" padding-4>
      <ion-card class="item item-avatar"(click) = "swp_OpenDetailCategoryPage($event,category.id)">
        <ion-card-content relative size-full overflow >
            <div class = "gallery">
            <div class="name" float-right wrap aling-center><b [innerHtml]="category.name"></b></div>
            <img float-left *ngIf="category.image && category.image.src" [src]="category.image.src" />
            <img float-left *ngIf="!category.image" src = "assets/images/no-img.png" /> 
          </div>
          </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> -->


<!--<ion-grid no-padding class="item-category" width-100 height-100> -->
  <ion-row class="scroll-content" *ngIf="0 < categories.length" wrap padding-4>
    <ion-col col-6 *ngFor="let category of categories"  [navPush]=" DetailCategoryPage" [navParams]="{category_id:category.id}">
     <ion-row (click) = "swp_OpenDetailCategoryPage($event,category.id)" relative size-full overflow>
       <ion-col class="img">
        <img float-left *ngIf="category.image && category.image.src" [src]="category.image.src" />
        <img float-left *ngIf="!category.image" src = "assets/images/no-img.png" /> 
           </ion-col>
     <ion-col>
      <div float-left wrap aling-center margin-auto><b [innerHtml]="category.name"></b></div>
     </ion-col>
     </ion-row>
     </ion-col>
  </ion-row>
   



</ion-content>
